In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings

warnings.filterwarnings("ignore")
%matplotlib inline

# DATA PREP

Uploading the data

In [93]:
df=pd.read_csv(r"tripadvisor_european_restaurants.csv")

In [ ]:
df.head()

In [96]:
# Remove rows with country other than France
df_france = df[df['country'] == 'France']

e returns all rows from both dataframes, and fills in NaN where there are no matches.

In [30]:

df_france.to_csv('france_rest.csv', index=False)

# Display the first few rows of the merged dataframe
df_france

,restaurant_link,restaurant_name,original_location,country,region,province,city,address,latitude,longitude,...,excellent,very_good,average,poor,terrible,food,service,value,atmosphere,keywords
0,g10001637-d10002227,Le 147,"[""Europe"", ""France"", ""Nouvelle-Aquitaine"", ""Ha...",France,Nouvelle-Aquitaine,Haute-Vienne,Saint-Jouvent,"10 Maison Neuve, 87510 Saint-Jouvent France",45.961674,1.169131,...,2.0,0.0,0.0,0.0,0.0,4.0,4.5,4.0,NaN,NaN
1,g10001637-d14975787,Le Saint Jouvent,"[""Europe"", ""France"", ""Nouvelle-Aquitaine"", ""Ha...",France,Nouvelle-Aquitaine,Haute-Vienne,Saint-Jouvent,"16 Place de l Eglise, 87510 Saint-Jouvent France",45.957040,1.205480,...,2.0,2.0,1.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN
2,g10002858-d4586832,Au Bout du Pont,"[""Europe"", ""France"", ""Centre-Val de Loire"", ""B...",France,Centre-Val de Loire,Berry,Rivarennes,"2 rue des Dames, 36800 Rivarennes France",46.635895,1.386133,...,3.0,1.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN
3,g10002986-d3510044,Le Relais de Naiade,"[""Europe"", ""France"", ""Nouvelle-Aquitaine"", ""Co...",France,Nouvelle-Aquitaine,Correze,Lacelle,"9 avenue Porte de la Correze 19170, 19170 Lace...",45.642610,1.824460,...,1.0,0.0,0.0,0.0,0.0,4.5,4.5,4.5,NaN,NaN
4,g10022428-d9767191,Relais Du MontSeigne,"[""Europe"", ""France"", ""Occitanie"", ""Aveyron"", ""...",France,Occitanie,Aveyron,Saint-Laurent-de-Levezou,"route du Montseigne, 12620 Saint-Laurent-de-Le...",44.208860,2.960470,...,4.0,7.0,0.0,0.0,0.0,4.5,4.5,4.5,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
155283,g9859641-d7744064,Burgers Bowl,"[""Europe"", ""France"", ""Auvergne-Rhone-Alpes"", ""...",France,Auvergne-Rhone-Alpes,Allier,Premilhat,138 avenue des Martyrs Le bowling De Montlucon...,46.337906,2.573007,...,3.0,2.0,0.0,0.0,1.0,NaN,NaN,NaN,NaN,NaN
155284,g9862396-d7285125,Au Bon Coin,"[""Europe"", ""France"", ""Normandy"", ""Haute-Norman...",France,Normandy,Haute-Normandie,Colleville,"1 rue de la Sucrerie, 76400 Colleville France",49.749690,0.459540,...,0.0,1.0,0.0,0.0,0.0,4.0,4.0,4.0,NaN,NaN
155285,g9863068-d8560009,S'fassner Stuebel,"[""Europe"", ""France"", ""Grand Est"", ""Bas-Rhin"", ...",France,Grand Est,Bas-Rhin,Fessenheim-le-Bas,"14 rue de Marlenheim, 67117 Fessenheim-le-Bas ...",48.631910,7.539170,...,1.0,0.0,0.0,0.0,0.0,3.5,3.5,4.0,NaN,NaN
155286,g9980751-d16852973,Au bon piccolo,"[""Europe"", ""France"", ""Ile-de-France"", ""Bonneui...",France,Ile-de-France,NaN,Bonneuil-en-France,"14 route de Flandres, 95500 Bonneuil-en-France...",48.958115,2.447226,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
155287,g9984709-d5854089,Restaurant La Forteresse,"[""Europe"", ""France"", ""Ile-de-France"", ""Seine-e...",France,Ile-de-France,Seine-et-Marne,Thoury-Ferrottes,"Domaine de la forteresse, 77940 Thoury-Ferrott...",48.298960,2.952520,...,5.0,10.0,4.0,1.0,2.0,3.5,4.0,3.5,NaN,NaN

In [98]:
df_france.columns

Index(['restaurant_link', 'restaurant_name', 'original_location', 'country',
       'region', 'province', 'city', 'address', 'latitude', 'longitude',
       'claimed', 'awards', 'popularity_detailed', 'popularity_generic',
       'top_tags', 'price_level', 'price_range', 'meals', 'cuisines',
       'special_diets', 'features', 'vegetarian_friendly', 'vegan_options',
       'gluten_free', 'original_open_hours', 'open_days_per_week',
       'open_hours_per_week', 'working_shifts_per_week', 'avg_rating',
       'total_reviews_count', 'default_language',
       'reviews_count_in_default_language', 'excellent', 'very_good',
       'average', 'poor', 'terrible', 'food', 'service', 'value', 'atmosphere',
       'keywords'],
      dtype='object')

# Convert an objects into viable data 
(string, int, float....)

In [5]:
df_france=pd.read_csv('france_rest.csv')
df=df_france.copy()
df = df.drop('country', axis=1)

### prepare price_level into category field

In [32]:
df['price_level'] = df['price_level'].replace('€', '1')
df['price_level'] = df['price_level'].replace('€€-€€€', '2')
df['price_level'] = df['price_level'].replace('€€€€', '3')
df['price_level']=df['price_level'].astype('category')
df = df.drop('price_range', axis=1)

### set Boolean columns

In [33]:
# prepare gluten_free into category field
df['gluten_free'] = df['gluten_free'].replace(to_replace="N", value='0')
df['gluten_free'] = df['gluten_free'].replace(to_replace="Y", value='1')
df['gluten_free']=df['gluten_free'].astype('category')

In [34]:
df['vegetarian_friendly'] = df['vegetarian_friendly'].replace(to_replace="N", value='0')
df['vegetarian_friendly'] = df['vegetarian_friendly'].replace(to_replace="Y", value='1')
df['vegetarian_friendly']=df['vegetarian_friendly'].astype('category')

In [35]:
df['vegan_options'] = df['vegan_options'].replace(to_replace="N", value='0')
df['vegan_options'] = df['vegan_options'].replace(to_replace="Y", value='1')
df['vegan_options']=df['vegan_options'].astype('category')

In [36]:
df['claimed'] = df['claimed'].replace(to_replace="Claimed", value='1')
df['claimed'] = df['claimed'].replace(to_replace="Unclaimed", value='0')
df['claimed']=df['claimed'].astype('category')

### Awards: group awards into categories

In [6]:
# awards_list: group some of them, and create dummies
df['awards_list'] = df['awards'].fillna('').str.split(', ')

replacement_dict = {'Michelin 2021 for The Michelin Plate: Good cooking': "Michelin 2021",
                                               'Michelin 2021 for Simple restaurant': "Michelin 2021",
                                               'Michelin 2021 for Comfortable restaurant': "Michelin 2021",
                                               'Michelin 2021 for One Michelin Star: High quality cooking': "Michelin 2021",
                                               'Michelin 2021 for Bib Gourmand: good quality': "Michelin 2021",
                                               'Michelin 2021 for Very comfortable restaurant': "Michelin 2021",
                                               'Michelin 2021 for Two Michelin Stars: Excellent cooking': "Michelin 2021",
                                               'Michelin 2021 for Extremely comfortable restaurant.': "Michelin 2021",
                                                'Michelin 2021 for Luxurious restaurant': "Michelin 2021",
                                               'Michelin 2021 for Three Michelin Stars: Exceptional cuisine': "Michelin 2021",
                                               "Travellers' Choice Best of the Best": "Travellers Choice",
                                               "Travellers' Choice 2020": "Travellers Choice",
                                                "Travellers' Choice": "Travellers Choice",
                                               'worth a stop!': "worth",
                                               'worth a detour!': "worth",
                                               'worth a special journey!': "worth",
                                               'good value cooking':'worth'}
# Replace values within each list
df['awards_list'] = df['awards_list'].apply(lambda x: [replacement_dict.get(item, item) for item in x])

# Perform one-hot encoding
awards_dummies = df['awards_list'].str.join('|').str.get_dummies()

# Combine the original DataFrame with the one-hot encoded DataFrame
df = pd.concat([df, awards_dummies], axis=1)

df = df.drop('awards_list', axis=1)
df = df.drop('awards', axis=1)

### Meals: can be one or more: breakfast, Lunch, Dinner

In [38]:
# Split the cuisine column into lists
df['meals_list'] = df['meals'].str.split(', ')

# Perform one-hot encoding
meals_dummies = df['meals_list'].str.join('|').str.get_dummies()
df = pd.concat([df, meals_dummies], axis=1)
df = df.drop('meals_list', axis=1)
df = df.drop('meals', axis=1)

In [15]:
# todo: tags_list 
# Split the cuisine column into lists
df['tags_list'] = df['top_tags'].str.split(', ')
df['tags_list'].value_counts()
# Perform one-hot encoding
#_dummies = df['tags_list'].str.join('|').str.get_dummies()
#_counts = _dummies.sum().sort_values(ascending=False)
#_counts.to_csv('tags_counts.csv', index=True)

#df = pd.concat([df, meals_dummies], axis=1)

[Mid-range, French]                           19556
[Mid-range, French, European]                  7403
[Cheap Eats, French]                           6956
[French]                                       4666
[Mid-range]                                    3511
                                              ...
[French, Caribbean, Cajun & Creole]               1
[Cheap Eats, American, Bar, International]        1
[Mid-range, Deli, Soups]                          1
[Mid-range, Asian, Kosher]                        1
[Cheap Eats, French, American, Deli]              1
Name: tags_list, Length: 7872, dtype: int64

### Drop Address related columns. Leave only province

In [8]:
df = df.drop('popularity_detailed', axis=1)
df = df.drop('popularity_generic', axis=1)
df = df.drop('original_location', axis=1)
df = df.drop('region', axis=1)
df = df.drop('address', axis=1)
df = df.drop('default_language', axis=1)

In [40]:
#todo: fill 0 values with mean
df['open_days_per_week'] = df['open_days_per_week'].astype(float).fillna(0).astype(int)

### Check for known_brands that appear more than 10 times. i.e: McDonald

In [41]:
# Group by 'restaurant_name' and 'city', and filter groups with more than one entry
names_with_duplicates = df.groupby(['restaurant_name', 'city']).filter(lambda x: len(x) > 1)

# Get the unique restaurant_name-city combinations with duplicates
names_with_duplicates_set = set(names_with_duplicates.set_index(['restaurant_name', 'city']).index)

# Dynamically build the known_brands list based on restaurant names that appear more than 10 times in these duplicates
known_brands = names_with_duplicates['restaurant_name'].value_counts()[names_with_duplicates['restaurant_name'].value_counts() > 10].index.tolist()

In [16]:
known_brands

["McDonald's",
 'Subway',
 "Domino's Pizza",
 'Boulangerie Marie Blachere',
 'Burger King',
 'Paul',
 'Starbucks',
 'Pizza Hut',
 'Quick',
 'Columbus Cafe & Co',
 'Sushi Shop',
 'Buffalo Grill',
 'PAUL',
 'Bagelstein',
 'KFC',
 'EXKi',
 "O'Tacos",
 'Brioche Doree',
 "O'Tacos  ",
 'Courtepaille',
 'Flunch',
 'La Terrasse',
 'Pret a Manger',
 'Le Pain Quotidien',
 "McDonald's ",
 'Pomme de Pain',
 'Hippopotamus',
 'Jour',
 'Amorino',
 'Sakura',
 'Laduree']

### Remove duplicate lines.
 A restaurant which appears more than one with a location that close by less than 100 meter

In [42]:

from geopy.distance import geodesic

# Function to check if two locations are within a threshold distance
def are_locations_close(coord1, coord2, threshold_meters=100):
    distance = geodesic(coord1, coord2).meters
    return distance <= threshold_meters

def remove_nearby_duplicates_optimized(df_temp, threshold_meters=100):
    # List to keep the indices of unique rows
    keep_indices = []

    # Iterate over each group of duplicate restaurant_name-city pairs
    for (name, city), group in df_temp.groupby(['restaurant_name', 'city']):
        if (name, city) not in names_with_duplicates_set:
            keep_indices.extend(group.index)
            continue
        if name in known_brands:
            keep_indices.extend(group.index)
            continue

        # Convert lat/long pairs into a numpy array for efficient processing
        coords = group[['latitude', 'longitude']].dropna().to_numpy()
        used_indices = set()

        for i, coord1 in enumerate(coords):
            if i in used_indices:
                continue
            # Add the first occurrence of each unique restaurant location to the list
            keep_indices.append(group.index[i])
            for j in range(i + 1, len(coords)):
                if j in used_indices:
                    continue
                coord2 = coords[j]
                if are_locations_close(coord1, coord2, threshold_meters):
                    used_indices.add(j)

    return df_temp.loc[keep_indices].reset_index(drop=True)

# Remove duplicates from the entire DataFrame, focusing only on groups that are known to have duplicates
# Remove duplicates
df_temp=df.copy()
df_cleaned = remove_nearby_duplicates_optimized(df_temp)

# Display the cleaned DataFrame
df_cleaned.to_csv('df_cleaned.csv', index=False)

In [9]:
df['original_open_hours']

0                                                       NaN
1                                                       NaN
2                                                       NaN
3                                                       NaN
4                                                       NaN
                                ...
155283    {"Mon": ["18:00-02:00"], "Tue": ["18:00-02:00"...
155284    {"Mon": ["07:30-19:00"], "Tue": ["07:30-19:00"...
155285    {"Mon": ["11:30-13:30"], "Tue": ["11:30-13:30"...
155286                                                  NaN
155287                                                  NaN
Name: original_open_hours, Length: 155288, dtype: object

### set original hour. This field contains a json based format. 
#### Generate 3 columns based on it:
 open_days_count, 
 total_open_hours, 
 open_on_weekend

In [10]:

import json
import numpy as np

# Function to parse opening hours and extract features
def parse_opening_hours(open_hours_str):
    if pd.isna(open_hours_str):
        return {
            'open_days_count': 0,
            'total_open_hours': 0.0,
            'open_on_weekend': False
        }

    # Parse the JSON string into a dictionary
    open_hours = json.loads(open_hours_str)

    # Initialize feature dictionary
    features = {
        'open_days_count': 0,
        'total_open_hours': 0.0,
        'open_on_weekend': False
    }

    for day, hours in open_hours.items():
        # Check if the restaurant is open on this day
        if hours:
            features['open_days_count'] += 1

            # Calculate total hours open for the day
            for time_range in hours:
                start, end = time_range.split('-')
                start_hour, start_minute = map(int, start.split(':'))
                end_hour, end_minute = map(int, end.split(':'))

                # Calculate the number of hours open
                open_duration = (end_hour + end_minute / 60) - (start_hour + start_minute / 60)
                features['total_open_hours'] += open_duration

            # Check for weekend opening
            if day in ['Sat', 'Sun']:
                features['open_on_weekend'] = True

    return features

# Apply the function to extract features from the original_open_hours column
opening_features = df['original_open_hours'].apply(parse_opening_hours)

# Convert the list of dictionaries to a DataFrame
opening_features_df = pd.DataFrame(list(opening_features))

# Combine the original DataFrame with the extracted features
df = pd.concat([df, opening_features_df], axis=1)

df = df.drop('original_open_hours', axis=1)

In [11]:
opening_features_df

        open_days_count  total_open_hours  open_on_weekend
0                     0               0.0            False
1                     0               0.0            False
2                     0               0.0            False
3                     0               0.0            False
4                     0               0.0            False
...                 ...               ...              ...
155283                7            -112.0             True
155284                6              63.5             True
155285                6              19.0             True
155286                0               0.0            False
155287                0               0.0            False

[155288 rows x 3 columns]

In [45]:
df['is_brand'] = df['restaurant_name'].apply(lambda name: 1 if name in known_brands else 0)

### Drop rating related data. it is redundant with the predicted metric

In [46]:
# re,ove the different rating columns
df = df.drop('service', axis=1)
df = df.drop('food', axis=1)
df = df.drop('terrible', axis=1)
df = df.drop('atmosphere', axis=1)
df = df.drop('keywords', axis=1)
df = df.drop('value', axis=1)
df = df.drop('poor', axis=1)
df = df.drop('average', axis=1)
df = df.drop('very_good', axis=1)
df = df.drop('excellent', axis=1)
df = df.drop('reviews_count_in_default_language', axis=1)

# setting target value: high_rated_population
A total reviews more than 100 and an rating more than 4 out of 5

In [47]:

df['high_rated_popular'] = ((df['total_reviews_count'] > 100) & (df['avg_rating'] >= 4)).fillna(False).astype(int)

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 154924 entries, 0 to 154923
Data columns (total 44 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   restaurant_link                 154924 non-null  object
 1   restaurant_name                 154924 non-null  object
 2   province                        136752 non-null  object
 3   city                            154924 non-null  object
 4   latitude                        153037 non-null  float64
 5   longitude                       153037 non-null  float64
 6   claimed                         154753 non-null  category
 7   top_tags                        141275 non-null  object
 8   price_level                     125242 non-null  category
 9   cuisines                        132566 non-null  object
 10  special_diets                   27045 non-null   object
 11  features                        61203 non-null   object
 12  vegetarian_friendly             154924 non-null  category
 13  vegan_options                   154924 non-null  category
 14  gluten_free                     154924 non-null  category
 15  open_days_per_week              154924 non-null  int64
 16  open_hours_per_week             85313 non-null   float64
 17  working_shifts_per_week         85313 non-null   float64
 18  avg_rating                      144149 non-null  float64
 19  total_reviews_count             148474 non-null  float64
 20  Certificate of Excellence 2011  154924 non-null  int64
 21  Certificate of Excellence 2012  154924 non-null  int64
 22  Certificate of Excellence 2013  154924 non-null  int64
 23  Certificate of Excellence 2014  154924 non-null  int64
 24  Certificate of Excellence 2015  154924 non-null  int64
 25  Certificate of Excellence 2016  154924 non-null  int64
 26  Certificate of Excellence 2017  154924 non-null  int64
 27  Certificate of Excellence 2018  154924 non-null  int64
 28  Certificate of Excellence 2019  154924 non-null  int64
 29  Certificate of Excellence 2020  154924 non-null  int64
 30  Michelin 2021                   154924 non-null  int64
 31  Travellers Choice               154924 non-null  int64
 32  worth                           154924 non-null  int64
 33  After-hours                     154924 non-null  int64
 34  Breakfast                       154924 non-null  int64
 35  Brunch                          154924 non-null  int64
 36  Dinner                          154924 non-null  int64
 37  Drinks                          154924 non-null  int64
 38  Lunch                           154924 non-null  int64
 39  open_days_count                 154924 non-null  int64
 40  total_open_hours                154924 non-null  float64
 41  open_on_weekend                 154924 non-null  bool
 42  is_brand                        154924 non-null  int64
 43  high_rated_popular              154924 non-null  int64
dtypes: bool(1), category(5), float64(7), int64(23), object(8)
memory usage: 45.8+ MB

In [48]:
df['cuisines']

0                                             French
1                                             French
2                                             French
3                                        Dining bars
4         Italian, Pizza, Sicilian, Southern-Italian
                             ...
154919             Japanese, Sushi, Thai, Vietnamese
154920                        Sushi, Asian, Japanese
154921                   Italian, Pizza, Street Food
154922                                       Chinese
154923                                           NaN
Name: cuisines, Length: 154924, dtype: object

### Cousines 
A restaurant can have more than one cousine. Get top 15 cousines and mark the rest as Other

In [60]:
# Step 1: Create a temporary column to work with cuisines
# Ensure every entry is a list
df['cuisines_temp'] = df['cuisines'].fillna('').apply(lambda x: x.split(', '))

# Step 2: Flatten the list of cuisines and count occurrences
cuisine_series = pd.Series([cuisine for sublist in df['cuisines_temp'] for cuisine in sublist if cuisine])

# Compute cuisine frequencies
cuisine_counts = cuisine_series.value_counts()

# Step 3: Define the number of top cuisines to keep as separate categories
top_n = 15
top_cuisines = cuisine_counts.head(top_n).index.tolist()

# Map each cuisine to its group
def map_cuisine_to_category(cuisine_list):
    return [cuisine if cuisine in top_cuisines else 'Other' for cuisine in cuisine_list]

# Apply the mapping to the temporary column
df['cuisine_group'] = df['cuisines_temp'].apply(map_cuisine_to_category)

# Step 4: Create one-hot encoding for each grouped category
# Flatten the list of cuisines to handle multi-cuisine entries
def create_one_hot_encoding(cuisine_groups):
    # Flatten the list of lists into a single list
    all_cuisines = [cuisine for sublist in cuisine_groups for cuisine in sublist]

    # Create a DataFrame from the list with multi-index to track original indices
    df_flattened = pd.DataFrame({
        'index': cuisine_groups.index.repeat(cuisine_groups.apply(len)),
        'cuisine': all_cuisines
    })

    # Perform one-hot encoding on the flattened DataFrame
    dummies = pd.get_dummies(df_flattened['cuisine'])

    # Aggregate back to the original index
    dummies_grouped = dummies.groupby(df_flattened['index']).sum()

    return dummies_grouped

# Create one-hot encoding based on grouped categories
cuisine_dummies = create_one_hot_encoding(df['cuisine_group'])

# Combine the one-hot encoded DataFrame with the original DataFrame
df_new2 = pd.concat([df.drop(['cuisines_temp', 'cuisine_group'], axis=1), cuisine_dummies], axis=1)

In [2]:
df_new2.to_csv('flat_with_location.csv', index=False)

In [78]:
df_cleaned.head()

,restaurant_name,city,claimed,price_level,features,vegetarian_friendly,vegan_options,gluten_free,open_days_per_week,Certificate of Excellence 2011,...,Fast food,French,Healthy,Italian,Japanese,Mediterranean,Other,Pizza,Pub,Seafood
0,""" Le Brelevenez""",Lannion,1,2,NaN,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
1,"""Au Gentil Marquis"" Pâtisserie Cyrille Pertuisot",Beaune-la-Rolande,1,3,"Delivery, Street Parking, Serves Alcohol, Digi...",0,0,0,5,0,...,0,1,0,0,0,0,0,0,0,0
2,"""Bouche B""",Nantes,0,2,"Reservations, Seating, Table Service, Wheelcha...",0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
3,"""Chez Pierre""",Charleville-Mezieres,0,NaN,NaN,0,0,0,5,0,...,0,0,0,0,0,0,1,0,0,0
4,"""Il Capriccio""",Menton,1,NaN,"Takeout, Reservations, Seating, Table Service,...",0,0,0,7,0,...,0,0,0,1,0,0,2,1,0,0

In [12]:
df = pd.read_csv("flat_with_location.csv")

In [13]:
#df = df_new2.copy()
df = df.drop('restaurant_link', axis=1)
df = df.drop('city', axis=1)
df = df.drop('longitude', axis=1)
df = df.drop('latitude', axis=1)
df = df.drop('cuisines', axis=1)
df = df.drop('cuisines_split', axis=1)
df = df.drop('avg_rating', axis=1)
df = df.drop('total_reviews_count', axis=1)
df = df.drop('special_diets', axis=1)
df = df.drop('open_hours_per_week', axis=1)
df = df.drop('top_tags', axis=1)

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 154924 entries, 0 to 154923
Data columns (total 50 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   restaurant_name                 154924 non-null  object
 1   province                        154924 non-null  object
 2   claimed                         154753 non-null  float64
 3   price_level                     125242 non-null  float64
 4   features                        61203 non-null   object
 5   vegetarian_friendly             154924 non-null  int64
 6   vegan_options                   154924 non-null  int64
 7   gluten_free                     154924 non-null  int64
 8   open_days_per_week              154924 non-null  int64
 9   working_shifts_per_week         85313 non-null   float64
 10  Certificate of Excellence 2011  154924 non-null  int64
 11  Certificate of Excellence 2012  154924 non-null  int64
 12  Certificate of Excellence 2013  154924 non-null  int64
 13  Certificate of Excellence 2014  154924 non-null  int64
 14  Certificate of Excellence 2015  154924 non-null  int64
 15  Certificate of Excellence 2016  154924 non-null  int64
 16  Certificate of Excellence 2017  154924 non-null  int64
 17  Certificate of Excellence 2018  154924 non-null  int64
 18  Certificate of Excellence 2019  154924 non-null  int64
 19  Certificate of Excellence 2020  154924 non-null  int64
 20  Michelin 2021                   154924 non-null  int64
 21  Travellers Choice               154924 non-null  int64
 22  worth                           154924 non-null  int64
 23  After-hours                     154924 non-null  int64
 24  Breakfast                       154924 non-null  int64
 25  Brunch                          154924 non-null  int64
 26  Dinner                          154924 non-null  int64
 27  Drinks                          154924 non-null  int64
 28  Lunch                           154924 non-null  int64
 29  open_days_count                 154924 non-null  int64
 30  total_open_hours                154924 non-null  float64
 31  open_on_weekend                 154924 non-null  bool
 32  is_brand                        154924 non-null  int64
 33  high_rated_popular              154924 non-null  int64
 34  American                        154924 non-null  int64
 35  Asian                           154924 non-null  int64
 36  Bar                             154924 non-null  int64
 37  Cafe                            154924 non-null  int64
 38  Chinese                         154924 non-null  int64
 39  European                        154924 non-null  int64
 40  Fast food                       154924 non-null  int64
 41  French                          154924 non-null  int64
 42  Healthy                         154924 non-null  int64
 43  Italian                         154924 non-null  int64
 44  Japanese                        154924 non-null  int64
 45  Mediterranean                   154924 non-null  int64
 46  Other                           154924 non-null  int64
 47  Pizza                           154924 non-null  int64
 48  Pub                             154924 non-null  int64
 49  Seafood                         154924 non-null  int64
dtypes: bool(1), float64(4), int64(42), object(3)
memory usage: 58.1+ MB

### province: set this column as code category

In [15]:
df['province'] = df['province'].astype('category')

# Replace the categorical values with numerical codes
df['province_Code'] = df['province'].cat.codes
df = df.drop('province', axis=1)

In [22]:

df['working_shifts_per_week']=df['working_shifts_per_week'].astype('str')

In [23]:
df['features_list'] = df['features'].str.split(', ')

# Perform one-hot encoding
features_dummies = df['features_list'].str.join('|').str.get_dummies()
df = pd.concat([df, features_dummies], axis=1)
df = df.drop('features_list', axis=1)
df = df.drop('features', axis=1)

In [24]:
df.to_csv('flat_file3.csv', index=False)