In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
# Ignore warnings
import warnings
warnings.filterwarnings('ignore')

In [4]:
df = pd.read_csv('flat_file3.csv')

In [7]:
nan_summary = df.isnull().sum()

# Display the summary
columns_with_nan = nan_summary[nan_summary > 0]
print(columns_with_nan)

province                   18172
claimed                      171
price_level                29682
working_shifts_per_week    69611
dtype: int64

# Missing Values
### Machine Learning imputation: kNN imputation

In [ ]:
from sklearn.impute import KNNImputer
df2 = df.copy()
imp_cols = df2.select_dtypes(include = ['float64', 'int64']).columns
knn_imputer = KNNImputer(n_neighbors=1)
imputed_data = pd.DataFrame(knn_imputer.fit_transform(df2[imp_cols]),columns = imp_cols)

In [19]:
#!pip install fancyimpute
import fancyimpute 
X=df.copy()

In [20]:
X.head()

,claimed,price_level,vegetarian_friendly,vegan_options,gluten_free,open_days_per_week,working_shifts_per_week,Certificate of Excellence 2011,Certificate of Excellence 2012,Certificate of Excellence 2013,...,Sports bars,Street Parking,Table Service,Takeout,Television,Valet Parking,Validated Parking,Waterfront,Wheelchair Accessible,Wine and Beer
0,1.0,2.0,0,0,0,0,NaN,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1.0,3.0,0,0,0,5,10.0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
2,0.0,2.0,0,0,0,0,NaN,0,0,0,...,0,0,1,0,0,0,0,0,1,0
3,0.0,NaN,0,0,0,5,5.0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1.0,NaN,0,0,0,7,13.0,0,0,0,...,0,0,1,1,0,0,0,0,1,1

In [ ]:
X_imputed = fancyimpute.KNN(3).fit_transform(X)
X_imputed = pd.DataFrame(X_imputed,columns=X.columns)
X_imputed.head()

In [ ]:
### MICE
## Multiple Imputation by Chained Equations
#X_imputed = IterativeImputer(max_iter=15) 
X_imputed = fancyimpute.IterativeImputer().fit_transform(X)
X_imputed = pd.DataFrame(X_imputed,columns=X.columns)
X_imputed.head()